.home-banner {
  background-size: cover;
  margin: 0 auto;
  width:100%;
  filter: gray;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  text-shadow: 2px 2px 3px rgba(0,0,0, 0.6);
  img{
    width: 70vw;
    text-align: center;
  }
}
