.navbar-lewagon {
  justify-content: space-around;
  background: $navbar;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


#navbarSupportedContent > ul > li.nav-item.active > form > div {
  display:flex;
}


.navbar-lewagon-white {
  // display:inline-block;
  background:rgba(0,0,0,0.4);
}
